#result{
    padding: 20px 35px;
}
.container {
    width: 255px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #eee;
}
